# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Java / Maven
target/
*.class

# Node.js / Next.js
node_modules/
.next/
out/

# Environment variables / secrets
.env
.env.*
!.env.example

# Certificates / private keys
*.pem
*.key
*.p12
*.pfx

# Logs
*.log
logs/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!*.tfvars.example

# Temporary files
tmp/
temp/